{% extends "base_game.html.twig" %}

{% block body_right_content %}
    {{ parent() }}

    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-activity">{{ "game.home.tab.activity"|trans }}</a></li>
            {#<li class=""><a data-toggle="tab" href="#tab-skill">{{ "game.home.tab.skill"|trans }}</a></li>#}
{# <li class=""><a data-toggle="tab" href="#tab-quest">{{ "game.home.tab.quest"|trans }}</a></li> #}
        </ul>
        <div class="tab-content">
            <div id="tab-activity" class="tab-pane active">
                <div class="panel-body">

                    <div id="activity-list" class="render-box" data-url="{{ path("activity_list") }}"></div>

                </div>
            </div>
            <div id="tab-skill" class="tab-pane">
                <div class="panel-body">
                    <strong>{{ "game.message.under_construction"|trans }}</strong>
                </div>
            </div>
            <div id="tab-quest" class="tab-pane">
                <div class="panel-body">
                    {# <div id="quest-list" class="render-box" data-url="{{ path("quest_list") }}"></div> #}
                </div>
            </div>
        </div>

    </div>

{% endblock %}