{% extends "base.html.twig" %}

{% block title %}{{ "title.login"|trans }}{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="tabs-container">

        <a href="{{ path('auth_login', {'user': 'demo'}) }}"
           class="btn btn-lg btn-primary">{{ "app.connection.button"|trans }} : demo</a>
        <a href="{{ path('auth_login', {'user': 'demo2'}) }}"
           class="btn btn-lg btn-primary">{{ "app.connection.button"|trans }} : demo2</a>

    </div>

{% endblock %}