<table class="table">
    <tbody>
    <tr>
        <td><span class="label label-success"><i class="fa fa-fw fa-location-arrow"></i></span></td>
        <td>{{ date()|format_datetime }}</td>
        <td>Exemple pour un dernier déplacement</td>
    </tr>
    <tr class="success">
        <td><span class="label label-primary"><i class="fa fa-fw fa-level-up"></i></span></td>
        <td>{{ date()|format_datetime }}</td>
        <td>Exemple pour un gain de niveau</td>
    </tr>
    <tr class="success">
        <td><span class="label label-primary"><i class="fa fa-fw fa-heart"></i></span></td>
        <td>{{ date()|format_datetime }}</td>
        <td>Exemple pour un gain de point de vie</td>
    </tr>
    <tr class="danger">
        <td><span class="label label-danger"><i class="fa fa-fw fa-heart-o"></i></span></td>
        <td>{{ date()|format_datetime }}</td>
        <td>Exemple pour une perte de point de vie</td>
    </tr>
    <tr class="warning">
        <td><span class="label label-warning"><i class="fa fa-fw fa-bolt"></i></span></td>
        <td>{{ date()|format_datetime }}</td>
        <td>Exemple pour une perte d'énergie</td>
    </tr>
    </tbody>
</table>