<div class="ibox float-e-margins">
    {% if not item %}
        <div class="ibox-content">{{ "game.item.item_not_found"|trans }}</div>
    {% else %}
        <div class="ibox-title">
            <div class="col-xs-11">
                <h5>
            <span class="pull-left">
                <div class="item_bo {{ item|itemClassCss }}"></div>
            </span>
                    <span class="pull-left">
                &nbsp;
                {{ item.name }}
            </span>
                </h5>
            </div>
            <div class="col-xs-1">
                <div class="ibox-tools">
                    <a class="close close-item-infos">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                {{ include('item/partials/informations.html.twig', {'item': item}) }}

                {% if item.requirements and item.requirements|length > 0 %}
                    {{ include('item/partials/requirements_infos.html.twig', {'requirements': item.requirements}) }}
                    <div class="clearfix"></div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
