{% extends "base_game.html.twig" %}

{% block title %}{{ "title.skills"|trans }}{% endblock %}

{% block body_right_content %}
    {{ parent() }}

    {% for domain in domains %}
        <div class="ibox float-e-margins" data-url="{{ path("domain_infos", {'id': domain.id}) }}">
            <div class="ibox-title">
                <h2>
                    {{ domain.title }}
                </h2>
                <div class="col-xs-6">
                    <p>{{ "game.domains.experience.available"|trans }} : {{ domain.availableExperience }}</p>
                    <p>{{ "game.domains.experience.total"|trans }} : {{ domain.totalExperience }}</p>
                </div>
                <div class="col-xs-6">
                    {% if domain.damage %}<p>{{ "game.domains.damage"|trans }} : +{{ domain.damage }}</p>{% endif %}
                {% if domain.hit %}<p>{{ "game.domains.hit"|trans }} : {{ domain.hit }}%</p>{% endif %}
                {% if domain.critical %}<p>{{ "game.domains.critical"|trans }} : {{ domain.critical }}%</p>{% endif %}
            </div>
        </div>
        <div class="ibox-content">

            {{ include('skill/partials/domain_tree.html.twig') }}

        </div>
    </div>
    {% endfor %}

    <div id="domains-data" style="display: none; visibility: hidden">{{ domains|json_encode|raw }}</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('skill') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('skill') }}
{% endblock %}
