<div class="col-xs-3">
    <strong>{{ "game.inventory.item.description"|trans }}</strong>
</div>
<div class="col-xs-9">
    {{ item.description }}
</div>

{% if item.domain %}
<div class="clearfix"></div>
<div class="col-xs-3">
    <strong>{{ "game.inventory.item.domain"|trans }}</strong>
</div>
<div class="col-xs-9">
    {{ item.domain }}
</div>
{% endif %}

<div class="clearfix"></div>
<div class="col-xs-3">
    <strong>{{ "game.inventory.item.level"|trans }}</strong>
</div>
<div class="col-xs-9">
    {{ item.level }}
</div>

<div class="clearfix"></div>

{% if item.spell %}
    {{ include('item/partials/spell_infos.html.twig', {'spell': item.spell}) }}
    <div class="clearfix"></div>
{% endif %}